body {
  margin: 0;
  font-family: Verdana, sans-serif;
  font-weight: 700;
  background: linear-gradient(135deg, #1c0423, #1f0522);
  color: #fff;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  scroll-behavior: smooth;
  font-family: Verdana, sans-serif;
}
.body_hide {
  opacity: 0;
  transition: 0.9s opacity ease-in-out;
}
.body_visible {
  opacity: 1;
}
#box-shadow-div {
  width: 1px;
  position: fixed;
  height: 1px;
  border-radius: 100%;
  background-color: rgba(128, 58, 110, 0);
  -webkit-box-shadow: 0 0 100px 100px rgba(206, 155, 215, 0.5);
  box-shadow: 0 0 120px 120px rgba(210, 137, 207, 0.5);
  z-index: -1;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
header {
  top: 0;
  width: 100%;
  position: sticky;
  z-index: 999;
}

nav {
  background-color: rgba(0, 0, 0, 0.851);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 4px;
  position: relative;
}

.logo {
  z-index: 99999;
  margin-left: 20px;
  margin-right: auto;
  transition: ease-in 2s;
}

.logo:active {
  transform: scale(0.5);
  transform: rotate(90deg);
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 0;
  right: 6;
  display: flex;
  flex-wrap: wrap;
  margin-right: -10%;
}

.nav-links .nav-btn {
  min-width: 119px;
  max-width: 100%;
  text-align: center;
  display: inline-block;
  flex-grow: 0;
  height: auto;
  background-color: rgba(0, 0, 0, 0.211);
  justify-items: center;
  padding: 30px;
  border-radius: 10px;
  justify-content: center;
  margin: 1px;
  align-items: center;
  transition: ease 0.3s;
  cursor: pointer;
}

.nav-links .nav-btn:hover {
  border-radius: 18px;
  transition: transform ease-in-out 0.2s background-color ease 0.3s;
  background-color: rgba(0, 0, 0, 0.505);
  transform: scale(1.1);
}
.nav-links .nav-btn:active {
  border-radius: 1px;
}

.nav-links li a {
  text-align: center;
  margin: auto;
  color: #fff;
  text-decoration: none;
}

.cta {
  z-index: 99999;
  background-color: #3d7d80;
  padding: 25px 20px;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.25s ease;
  cursor: pointer;
  transition: 0.25s ease;
}

.cta:hover {
  background-color: #4a8f93;
  border-radius: 15px;
  transform: scale(0.95);
  transition: 0.45s ease;
}

body section {
  background-color: rgba(81, 51, 89, 0.5);
  display: grid;
  min-height: calc(256px * (16 / 9));
  margin-top: 2%;
  border-radius: 12px;
  width: 100%;
  margin-top: 2%;
  height: 30%;
  justify-content: center;
  align-content: center;
  align-self: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.vacs-descr {
  display: grid;
  columns: repeat(autp-fit, minmax(100px, 33%), auto-fit);
}
.members-descr {
  align-items: center;
}
.members-descr img,
.members-descr a {
  position: relative;
  top: 0;
}
.members-descr img {
  left: 10%;
  height: calc(100px + 20%);
  align-self: center;
  justify-self: center;
}
.vacs-descr img {
  width: 90%;
}
.vacs-a-descr {
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: white;
  offset-distance: 10px;
  font-size: xx-large;
  left: 10%;
  width: 80%;
}
.members-a-descr {
  color: white;
  offset-distance: 10px;
  font-size: xx-large;
  left: 10%;
  width: 80%;
}
.project-descr a,
.project-descr img {
  position: relative;
  top: 0;
}
.project-a-descr {
  color: #ffffff;
  offset-distance: 10px;
  font-size: xx-large;
  left: 10%;
  width: 80%;
}
.test1 {
  background-color: rgba(0, 0, 0, 0.196);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.286);
  left: calc(50% - 128px);
  transition: linear 0.5s;
  animation-name: rotate-ai;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.test1:hover {
  animation-play-state: paused;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.344);
  transform: scale(1.02);
}
.test1:active {
  animation-play-state: paused;
  filter: grayscale(100%);
}

@keyframes rotate-ai {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.footer-links li {
  display: inline-block;
  margin-right: 10px;
}

.footer-links li a {
  color: #fff;
  text-decoration: none;
}

.vacs-descr img {
  fill: white;
}

.members-img-descr {
  width: 50%;
  filter: invert(100%);
}

.vacs-img-descr {
  width: 50%;
  filter: invert(100%);
}
