body {
  margin: 0;
  font-family: "Montserrat-Medium", "Arial", "sans-serif",
    "fonts/Montserrat-Medium.ttf";
  background-color: #1b0818;
  color: #fff;
  overflow-x: hidden;
  font-family: Arial;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: #1b0818;
}
html {
  scroll-behavior: smooth;
}
header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 999;
}
nav {
  background-color: rgba(0, 0, 0, 0.688);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2px;
  padding-left: 2px;
  padding-top: 4px;
}

.logo {
  z-index: 99999;
  margin-left: 20px;
  margin-right: auto;
  transition: ease-in 2s;
}

.logo:active {
  transform: scale(0.5);
  transform: rotate(90deg);
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 0;
  right: 6;
  display: flex;
  flex-wrap: wrap;
  margin-right: -10%;
}

.nav-links .nav-btn {
  min-width: 119px;
  max-width: 100%;
  text-align: center;
  display: inline-block;
  flex-grow: 0;
  height: auto;
  background-color: rgba(0, 0, 0, 0.211);
  justify-items: center;
  padding: 30px;
  border-radius: 10px;
  justify-content: center;
  margin: 1px;
  align-items: center;
  transition: ease 0.3s;
  cursor: pointer;
}

.nav-links .nav-btn:hover {
  border-radius: 18px;
  transition: transform ease-in-out 0.2s background-color ease 0.3s;
  background-color: rgba(0, 0, 0, 0.505);
  transform: scale(1.1);
}
.nav-links .nav-btn:active {
  border-radius: 1px;
}

.nav-links li a {
  text-align: center;
  margin: auto;
  color: #fff;
  text-decoration: none;
}

.main-section {
  position: relative;
  margin-top: 20%;
  border-radius: 2%;
  position: relative;
  width: 100%;
  height: 400px;
  background-color: rgba(61, 44, 65, 0.307);
  justify-content: center;
}
.available-vacs {
  gap: 2%;
  position: relative;
  display: flex;
  top: 5%;
  width: 200%;
  height: 500px;
  overflow-x: visible;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}
.vac-card {
  border-radius: calc(1% + 15px);
  background-color: rgb(124, 42, 120);
  height: 80%;
  width: max(10%, 200px);
  text-align: center;
  justify-content: center;
  transition: ease-out 0.4s;
}

.role {
  margin-top: 0;
  font-size: xx-large;
  filter: invert(100%);
  position: relative;
  top: 0;
  width: 100%;
}

.line100 {
  width: 100%;
  height: 2px;
  background-color: #000;
}

.half-cards {
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  display: inline-block;
  width: 100%;
  height: 90%;
  position: relative;
  background-color: rgb(36, 23, 40);
  top: -90%;
  border-radius: 0px 0px 12px 12px;
}

.vac-card p {
  position: relative;
  width: 100%;
  filter: invert(100%);
  top: 20%;
}

.vac-card:hover {
  transform: translateY(-50%);
}

.half-cards a {
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: large;
}

.linktotg {
  height: 10%;
  width: 16%;
  background-color: palevioletred;
  text-align: center;
  justify-content: center;
  justify-items: center;
  position: relative;
  left: 42%;
  border-radius: 8px;
  transition: ease-in-out 0.3s;
}

.linktotg:hover {
  background-color: rgb(147, 59, 88);
  border-radius: 10px;
  transform: scale(1.1);
}
